<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vjs.ypn.vjs">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCsu4u1E-u0aNt2mIAO1COEpz2-xq6JK2k" />

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaseTrackingActivity"
            android:label="Chọn chế độ theo dõi" />
        <activity android:name=".EntryInfoActivity" />
        <activity android:name=".StartTrackingActivity" />
        <activity android:name=".InTrackingActivity" />
        <activity android:name=".ShowResultActivity" />
        <activity android:name=".MapActivity"></activity>
        <service android:name=".UpdatePosition" />
    </application>

</manifest>